.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 70vh;
    justify-content: space-around;
    
    &::before {
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 70vh;
        opacity: 0.9;
        background-image: url('../../../assets/houseboat.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
