.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 75vh;
    background: url('../../../assets/houseboat.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background-image: linear-gradient(black, black);
        height: 75vh;
        opacity: .3;

    }

    .social-media-container {
        float: right;
        padding: 4rem;
    }
    .company-container {
        text-align: left;
        position: relative;
        .book-now-button {
            min-width: 10rem;
            max-width: fit-content;
            background-color: rgb(216, 77, 13);
            border: 1px solid var(--body-background-color);
            color: white;
            font-size: 20px;
            font-weight: 600;
            padding: 1rem 2rem;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .3);
            z-index: 2;
            margin-left: 4rem;
            margin-top: 2rem;
            &:hover {
                transform: scale(1.1);
            }
    }
    }

}
