.location-container {
    padding: 2rem 2rem;
    .location-iframe {
        width: 95%;
        margin: auto;
        .location-heading {
            padding: 2rem 0rem;
            margin: 0;
            text-align: left;
            font-size: 3rem;
            font-weight: 500;
            font-family: "MyFont";
        }
        .iframe-container {
            max-width: 100%;
            text-align: left;
        }
    }
}