.location-container {
    padding: 2rem 4rem;
    .location-iframe {
        width: 100%;
        .location-heading {
            padding: 1rem 0rem;
            margin: 0;
            text-align: left;
            font-size: 30px;
        }
        .iframe-container {
            max-width: 100%;
            text-align: left;
        }
    }
}