.header-container {
    display:flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 3rem;
    background-color: rgb(146, 74, 74);
    position: sticky;
    top: 0;

    .boat-icon-container {
        color: white;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        font-family: 'Brush Script MT', cursive;

        img {
            width: 4rem;
            height: 3rem;
            border-radius: 50%;
            padding-right: 0.5rem;
        }
    }

    .header-element-parent-container {
        width: 60%;
    }
}