.card-container {   
    display: flex;
    gap: 7%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(161, 157, 157);
    max-width: 90%;
    padding: 2rem;
    flex-direction: column;
    background-color: rgb(220, 226, 228);
    padding: 1rem;
    &:hover {
        transform: scale(1.01);
    }
}